.Navigation {
  display: inline-block;
}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 4rem;
  display: flex;
}

.MenuItem {
  padding: 0 1rem;
}

.MenuItemToggle {
  display: none;
}

.NavigationMobile {
  display: flex;
  background-color: black;
  width: 100%;
}


@media screen and (max-width: 1150px) {
  /* .Menu {
    position: absolute;
    padding: 4rem 0 4rem 4rem;
    margin: 0;
    width: 300px;
    min-width: 200px;
    height: 100vh;
    background-color: black;
  } */

  .MenuItem {
    display: none;
  }

  .MenuItemToggle {
    display: inline-flex;
    padding: 0 1rem;
  }
}