.card {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}

.card-title {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option-label,
.filter-option-input {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
