.container_public_layout {
  width: 100%;
  height: 100vh;
}

.header {
  max-width: 900px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style-type: none;
  margin: 5rem 0;
  padding: 0;
}

.menu_item {
  padding: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}
