.Header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
}

.HeaderMobile {
  width: 100%;
  height: 100vh;
  background-color: black;
}