.success {
  background-color: #1D4ED8;
  padding: .5rem 16px;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.success:hover {
  background-color: #2563EB;
}